.menu-space-1{
  margin-left: 170px;
}

.menu-space-2{
  margin-left: 260px;
}

#loginForm{
  position: relative;
  top: 150px;
  left: 1200px;
  height: 200px;
  width: 200px;
}

#loginForm label{
  font-size: 25px;
  color: red;
}

#loginForm input{
  border-radius: 20px;
}

#loginForm button, #loginButtom{
  margin-top: 20px;
  background-color: red;
  color: bisque;
  transition: 400ms;
  border-radius: 20px;
}

#loginForm button:hover, #loginButtom:hover{
  background-color: rgb(99, 10, 10);
  transform: scale(1.2);
}



.catalogo h5{
  color: red;
  font-size: 22px;
  margin: 20px;
}

.catalogo p{
  color: red;
}