*{
    margin: 0;
    padding: 0;
}

body{
    background: rgb(255, 222, 173);
    color: aliceblue;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

.central{
    display: flex;
    flex-direction: row;
}

.header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 60px;
    padding-top: 30px;
    color: red;
    background: black;
    text-shadow: 0px 0px 4px black;
}
.header a{
    text-decoration: none;
    color: aliceblue;
}

.lista-barbeiros{
    border: 2px solid black;
    width: 1200px;
    height: auto;
    color: black;
    margin-top: 60px;
    border-radius: 30px;
    box-shadow: 0px 0px 12px 9px #000000;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    font-size: 30px;
    padding: 10px;
}

.editar-barbeiro{
    font-size: 28px;
    flex-direction: column;
    justify-content: left;
    height: 600px;
    width: 800px;
    border: 3px solid black;
    box-shadow: 0px 0px 12px 9px #000000;
    border-radius: 30px;
    padding: 10px;
    margin: 4%;
    color: #000000;
}

.adicionar-barbeiro,.login{
    display: flex;
    flex-direction: column;
    justify-content: left;
    height: 200px;
    width: 400px;
    border: 3px solid black;
    box-shadow: 0px 0px 12px 9px #000000;
    border-radius: 30px;
    padding: 10px;
    margin: 4%;
    color: #000000;
    font-size: 35px;
}

.lista-barbeiros p, h4{
    margin: 10px;
}

.lista-barbeiros a{
    text-decoration: none;
    color: red;
    padding: 5px;
}

.lista-barbeiros a:hover{
    background-color: #000000;
    color: white;
    border-radius: 30px;
}

.adicionar-barbeiro label{
    font-size: 28px;
}

.adicionar-barbeiro input{
    font-size: 18px;
    border-radius: 30px;
    border: 2px solid black;
}
.login input{
    padding: 6px;
    font-size: 18px;
    border-radius: 30px;
    border: 2px solid black;
}
.editar-barbeiro input{
    padding: 4px;
    margin: 20px;
    font-size: 18px;
    border-radius: 30px;
    border: 2px solid black;
}

.btn{
    padding: 8px;
    margin-left: 40%;
    margin-top: 20px;
    cursor: pointer;
    background-color: transparent;
}

.btn:hover{
    background-color: black;
    color: aliceblue;
    box-shadow: 0 0 12px 8px black;
    border: 3px solid #ffdead;
}

